.paperClass{
    display: flex;
    justify-content: space-between
}
.aClass{
    text-decoration: none;
    padding: 0.5rem;
}

.divClass{
    display: flex;
}

.imgClass{
    width: 40px;
}

.tabsClass{
    width: 40%;
    padding: 0.5rem;
}

.cartWidgetClass{
    margin: 1rem 3rem 1rem 1rem;
}